# Data Types Homework
## <b style="color:red"> *If you don't practice, you will forget a lot. (This happened to me)* </b> <b style="color:blue"> <br><br> We'll go over the homework, learn variables, and make a game next week! </b>
## <b style="color:green"> Email me if you have any questions or suggestions :) </b>
---------------------------------------------------------------------------------------------------------
### 1. In one line of code, subtract 667 from 421, then multiply the result by 70.

In [1]:
# Hold down shift and enter to run the cell

### 2. Dividing Fibonacci Numbers
Fibonacci Sequence: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657 ...

The next number is found by adding up the two numbers before it. <br>
0 + 1 = 1 <br>
1 + 1 = 2 <br>
1 + 2 = 3 <br>
2 + 3 = 5 

### a. Pick two numbers that are next to each other. Divide the larger number by the smaller number. Ex: 8/5

In [ ]:
# Code here

### b. Try this with other numbers. Ex: 34/21, 377/233. Are the results close to each other?

In [ ]:
# Code here

### 3. Which of the following output the boolean True? 
### A. False == 0 <br> B. True == 1 <br> C. True * 3 == 3. <br> D. True != 0.9999999999999999999999999999

In [ ]:
# Code here

### 4. In one line, concatenate "cat" and "dog", then multiply the string by 2.

In [ ]:
# Code here

### 5. Using only one print function, output the following (in the same format):
```raw
Dear Gerald,
    Thanks for stealing:
        1. One Furry Costume
        2. Five creepy dolls
        3. Three Lambos for your TikTok
Sincerely,
Huncob
```

In [1]:
# Code here