# Python Functions for Numbers

<p style='font-size:1.25rem;line-height:1.5'>
    There are a few <b style="color:red">built-in Python functions</b> that take lists or tuples of <b style="color:blue">numbers</b> as arguments. These functions are summarized below:
    </p>

<table style='font-size:1.25rem;line-height:1.5;text-align:center'>
    <tr>
        <th style='font-size:1.25rem;line-height:1.5;text-align:center'>Function</th>
        <th style='font-size:1.25rem;line-height:1.5;text-align:center'>Returns</th>
    </tr>
    <tr>
        <td style='font-size:1.25rem;line-height:1.5;text-align:center'><code>sum</code></td>
        <td style='font-size:1.25rem;line-height:1.5;text-align:center'>sum of elements</td>
    </tr>
    <tr>
        <td style='font-size:1.25rem;line-height:1.5;text-align:center'><code>max</code></td>
        <td style='font-size:1.25rem;line-height:1.5;text-align:center'>largest element</td>
    </tr>
    <tr>
        <td style='font-size:1.25rem;line-height:1.5;text-align:center'><code>min</code></td>
        <td style='font-size:1.25rem;line-height:1.5;text-align:center'>smallest element</td>
    </tr>
    <tr>
        <td style='font-size:1.25rem;line-height:1.5;text-align:center'><code>sorted</code></td>
        <td style='font-size:1.25rem;line-height:1.5;text-align:center'>list of elements from smallest to largest</td>
    </tr>
</table>

<p style='font-size:1.25rem;line-height:1.5'>
    For example, using <code>max</code> on <code>my_list</code> should return <code>98</code>:
    </p>

In [ ]:
my_list = [68, 30, 72, 66, 75, 98, 26, 55, 13, 51]
max(my_list)

<p style='font-size:1.25rem;line-height:1.5'>
    Sort <code>my_list</code> using <code>sorted</code>.
    </p>

In [ ]:
my_list = [68, 30, 72, 66, 75, 96, 26, 55, 13, 51]

# Start your code here

<p style='font-size:1.25rem;line-height:1.5'>
    Add the numbers from <code>1</code> to <code>10</code> using the <code>sum</code> function. Remember, <code>sum</code> takes an iterable as an arguement!
    </p>

In [ ]:
# Start your code here

# Python Functions for Booleans

<p style='font-size:1.25rem;line-height:1.5'>
    These <b style="color:red">built-in Python functions</b> take lists or tuples of <b style="color:blue">booleans</b> as arguments:
    </p>
<table style='font-size:1.25rem;line-height:1.5;text-align:center'>
    <tr>
        <th style='font-size:1.25rem;line-height:1.5;text-align:center'>Function</th>
        <th style='font-size:1.25rem;line-height:1.5;text-align:center'>Returns</th>
    </tr>
    <tr>
        <td style='font-size:1.25rem;line-height:1.5;text-align:center'><code>any()</code></td>
        <td style='font-size:1.25rem;line-height:1.5;text-align:center'><code>True</code> if any element is <code>True</code>; <code>False</code> otherwise</td>
    </tr>
    <tr>
        <td style='font-size:1.25rem;line-height:1.5;text-align:center'><code>all()</code></td>
        <td style='font-size:1.25rem;line-height:1.5;text-align:center'><code>True</code> if all elements are <code>True</code>; <code>False</code> otherwise</td>
    </tr>
</table>

<p style='font-size:1.25rem;line-height:1.5'>
    For example, try running the code below.
    </p>

In [ ]:
conditions = (1 > 2, 3 <= 4, 3 in (1, 2, 3))
any(conditions)

<p style='font-size:1.25rem;line-height:1.5'>
    This is true because 3 is less than or equal to 4.
    </p>
    <p style='font-size:1.25rem;line-height:1.5'>
    Check if <strong>all</strong> the conditions in <code>conditions</code> are <code>True</code>, use <code>all</code>.
    </p>

# Start your code here



# <b style="color:red">--- STOP HERE --- </b>

---